*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #E3E9C2;
	display: flex;
	place-items: center;
	min-height: 100vh;

}



main {
	display: grid;	
	max-width: 100vw;
	grid-gap: 10px;
	width: 50%;
	margin: auto;
	background-color: #1A1C28;
	padding: 20px 150px 30px 40px;
}


main div{
	padding: 2em;	
}

.container{
	grid-template-areas:
	'a a b'
	'd c c '
	'd e e';
	margin-top: 150px;
	margin-bottom: 100px;
}


.box1{
	background-color: #EB5020;
	grid-area: a;

}

.box2{
	background-color: #FFA401;
	grid-area: b;
}

.box3{
	background-color: #FFA401;
	grid-area: c;
	height: 50px;
}

.box4{
	background-color: #05AA42;	
	grid-area: d;
	height: 200px;
}

.box5{
	background-color: #01AEFD;
	grid-area: e;
	height: 70px;
}


.box1, .box2{
	height: 100px;
}

header{
	background-color: #555B6E;
	position: fixed;
	width: 100%;
	padding: 10px 0;
	top: 0;
	margin-bottom: 30px;	
	display: flex;
	justify-content: center;
}

header a{
	font-size: 30px;
	font-weight: 500;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;	
}



a:link {
  color: #DBCDC6;
}

a:visited {
  color: #AEB4A9;
}

a:hover {
  color: #E0C1B3;
}

a:active {
  color: #DBCDC6;
}